body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.cards {
  margin-top: 25%;
  width: 150px;
  height: 250px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.number {
  font-size: 20px;
  font-weight: bold;
}

.gameType {
  font-size: 20px;
  font-weight: bold;
}

.action {
  font-size: 18px;
}
