.game-card-grid {
  margin-top: 3%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.game-card {
  transition: 200ms;
  min-height: 7rem;
  display: grid;
  place-items: center;
}

.game-card:hover {
  border: 1px solid #256f97;
}

.game-card--active {
  border: 1px solid #0a58ca;
}

.game-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.lobby-table-grid {
  margin-top: 10%;
}

.icon-refresh {
  margin-left: 10%;
}
