
html {
  --bg-one: #973999;
  --bg-two: #f8598b;
  --bg-three: #f7bf00;
  --bg-panel: #EBEBEB;
  --color-headings: #333;
  --color-text: #999;
  --color-fun: #c44394;
  --distance: 4rem;
}

.card-stack {
  margin-right: 30px;
  margin-top: 10px;
  display: flex;
  gap: 10px; /* Odstęp między kartami */
  overflow-x: auto;
}

.uno-card-container {
  transition: 0.2s;
}

.uno-card-container:not(:first-child) {
  margin-left: -30px;
}


.uno-card-container:hover,
.uno-card-container:focus-within {
  transform: translatey(-1rem);
}

.uno-card--active {
  margin-top: 20px;
  border: 3px solid #f00; /* Change border style for active card */
  box-shadow: 0 0 5px #f00; /* Add a subtle shadow for active effect */

}

