<div class="container-fluid">
  <div class="chat-box">
    <div *ngFor="let message of chatMessages" class="message">
      <span class="sender">{{ message.data.message.sender }}:</span>
      <span class="content">{{ message.data.message.message }}</span>
    </div>
  </div>

  <div class="input-box">
    <input type="text" id="form1" class="form-control message-input" [(ngModel)]="newMessage"
           placeholder="Write message" (keyup.enter)="sendMessage()">
    <button type="button" class="btn btn-primary" (click)="sendMessage()">Send</button>
  </div>
</div>
