<div class=" game-table">
  <div class="row upper-row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6 horizontal-hand">

    </div>
    <div class="col-md-3">

    </div>
  </div>
  <div class="row middle-row">
    <div class="row upper-row">
      <div class="col-md-3 vertical-hand">

      </div>
      <div class="col-md-6 table">

      </div>
      <div class="col-md-3">

      </div>
    </div>

  </div>
  <div class="row lower-row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6 horizontal-hand">

    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>
