<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
      <ul class="navbar-nav  mb-2 mb-md-0">
        <a class="navbar-brand" routerLink="/home"></a>

        <li *ngIf="token" class="nav-item">
          <a aria-current="page" class="nav-link active" routerLink="/lobbies">Lobbies</a>
        </li>
        <li *ngIf="token" class="nav-item">
          <a (click)="logout()" class="nav-link" role="button">Logout</a>
        </li>
        <li *ngIf="token" class="nav-item">
          <span class="nav-link" style="color:#ca7d0a">You are logged in as {{name}}</span>
        </li>
        <li *ngIf="token" class="nav-item">
          <a class="nav-link" role="button" routerLink="/profile/{{name}}">Profile</a>
        </li>
        <li *ngIf="token" class="nav-item">
          <a class="nav-link" role="button">Friend List</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
