<div class="game-table h-100 overflow-hidden">
    <div class="row upper-row">
        <div class="col-sm-12 col-md-6 offset-md-3 hand-row">
            <h3 class="rounded-3 horizontal-h3">{{enemiesHands[enemiesHands.length === 1 ? 0 : 1].owner}}
                ({{enemiesHands[enemiesHands.length === 1 ? 0 : 1].cards.length}})</h3>
            <app-uno-other-player-horizontal-hand class="w-100"
                                                  [hand]="enemiesHands[enemiesHands.length === 1 ? 0 : 1]"/>
        </div>
    </div>
    <div class="row middle-row">
        <div class="col-sm-3 col-md-3 hand-col">
            <h3 class="rounded-3">{{enemiesHands[0].owner}} ({{enemiesHands[0].cards.length}})</h3>
            <app-uno-other-player-vertical-hand *ngIf="enemiesHands.length >= 2"
                                                [hand]="enemiesHands[0]"/>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="grey-card-box rounded-3">
                <app-uno-draw-stack [stacks]="game!.state!.stacks"/>
                <app-uno-discard-pile
                        [orderedColor]=game!.meta!.orderedColor
                        [piles]="game!.state!.piles"></app-uno-discard-pile>
            </div>
        </div>
        <div class="col-sm-3 col-md-3 hand-col">
            <h3 class="rounded-3">{{enemiesHands[2].owner}}  ({{enemiesHands[2].cards.length}})</h3>
            <app-uno-other-player-vertical-hand [isRight]="true" *ngIf="enemiesHands.length===3"
                                                [hand]="enemiesHands[2]"/>
        </div>
    </div>

    <div class="row lower-row">
        <div class="col-sm-12 col-md-3 uno-buttons">
            <div class="button-box">
                <select class="form-select d-inline ms-2 w-auto" aria-label="Accuse Select"
                        [(ngModel)]="selectedPlayer">
                    <option value="" disabled>Select the player</option>
                    <ng-container *ngFor="let player of game?.participants">
                        <option value="{{player.username}}">{{player.username}}</option>
                    </ng-container>
                </select>
                <button type="button" class="btn-light shadow btn ms-2" [disabled]="!selectedPlayer"
                        (click)="accuse(selectedPlayer)">Accuse
                </button>

                <button type="button" class="btn-light shadow btn ms-2" [disabled]="!yourTurn" (click)="skipTurn()">
                    Skip Turn
                </button>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 hand-row">
            <app-uno-player-hand class="w-100"
                                 (activeCardsEmitter)="readValueFromHand($event)"
                                 [hand]="this.playerHand"
                                 [cardsAcquiredInThisTurn]=" cardsAcquiredInThisTurn"></app-uno-player-hand>
        </div>
        <div class="col-sm-12 col-md-3 uno-buttons">
            <div class="button-box">

                <button type="button" class="btn-light shadow btn me-2" [disabled]="!yourTurn" (click)="drewCard()">
                    Drew Card
                </button>
                <button type="button" class="btn-light shadow btn me-2" [disabled]="!yourTurn" (click)="playCard()">
                    Play Card
                </button>
                <button type="button" class="btn-light shadow btn me-2" [disabled]="!yourTurn" (click)="sayUno()">
                    Uno !
                </button>
            </div>

        </div>
    </div>
</div>
