<div class=" game-table">
  <div class="row upper-row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6 ">
      <app-uno-other-player-horizontal-hand *ngIf="enemiesHands.length===1" [hand]=enemiesHands[0] ></app-uno-other-player-horizontal-hand>
      <app-uno-other-player-horizontal-hand *ngIf="enemiesHands.length >1" [hand]=enemiesHands[1] ></app-uno-other-player-horizontal-hand>
    </div>
    <div class="col-md-3">

    </div>
  </div>
  <div class="row middle-row">

      <div class="col-md-3">
        <app-uno-other-player-vertical-hand *ngIf="enemiesHands.length >= 2"
                                            [hand]=enemiesHands[0]></app-uno-other-player-vertical-hand>
      </div>
      <div class="row col-md-6 rounded-3 card ">
        <div class="col-3 full-height d-flex align-items-stretch"></div>
        <div class="col-3 full-height d-flex align-items-stretch">
          <app-uno-draw-stack [stacks]=game!.state!.stacks></app-uno-draw-stack>
        </div>
        <div class="col-3 full-height d-flex align-items-stretch">
          <app-uno-discard-pile
            [orderedColor]=game!.meta!.orderedColor
            [piles]=game!.state!.piles></app-uno-discard-pile>
        </div>

      </div>
      <div class="col-md-3">
        <app-uno-other-player-vertical-hand *ngIf="enemiesHands.length===3" [hand]=enemiesHands[2]></app-uno-other-player-vertical-hand>
      </div>

  </div>
  <div class="row lower-row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
      <app-uno-player-hand (activeCardsEmitter)="readValueFromHand($event)"
                           [hand]="this.playerHand"
                           [cardsAcquiredInThisTurn]=" cardsAcquiredInThisTurn"></app-uno-player-hand>
    </div>
    <div class="col-md-3">
      <div class="card bg-info" style="width: 18rem; margin-top: 10px;">
        <ul class="list-group list-group-light bg-danger-subtle ">
          <li class="list-group-item px-3 ">
            <button type="button" class="btn-primary btn me-1" [disabled]="!yourTurn" (click)="drewCard()"> Drew Card
            </button>
            <button type="button" class="btn-primary btn me-1" [disabled]="!yourTurn" (click)="playCard()"> Play Card
            </button>
          </li>
          <li class="list-group-item">

            <select class="form-select d-inline w-50 me-1" aria-label="Accuse Select" [(ngModel)]="selectedPlayer">
              <option value="" disabled>Select a player</option>
              <ng-container *ngFor="let player of game?.participants">
                <option value="{{player.username}}">{{player.username}}</option>
              </ng-container>
            </select>
            <button type="button" class="btn-primary btn me-1" [disabled]="!selectedPlayer"
                    (click)="accuse(selectedPlayer)">Accuse
            </button>
          </li>
          <li class="list-group-item  ">
            <button type="button" class="btn-primary btn me-1" [disabled]="!yourTurn" (click)="skipTurn()">Skip Turn
            </button>
            <button type="button" class="btn-primary btn me-1" [disabled]="!yourTurn" (click)="sayUno()">Uno !</button>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
